/preview/h5dx/node_modules
/preview/win8
/SUPERSECRETFOLDERWITHONEBILLIONPRIVATETOKENS
/versions/scriptsyay/
/preview/worker.js
/preview/convertworker.js
/webtile
/preview/examplelevel.json
/preview/examplelevel.xml